In [66]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns',None)

In [67]:
import os
import pandas as pd

# Caminho para a pasta contendo os arquivos CSV
pasta = r"C:\Users\natal\OneDrive\Documentos\Pessoal\jump\osklen passado-20240401T182841Z-001\osklen passado"

# Lista para armazenar os DataFrames de cada arquivo CSV
dataframes = []

# Iterar sobre os arquivos na pasta
for arquivo in os.listdir(pasta):
    if arquivo.endswith('.csv'):
        caminho_arquivo = os.path.join(pasta, arquivo)
        df = pd.read_csv(caminho_arquivo,encoding = 'latin-1',sep=';')
        df['nome_arquivo'] = arquivo
        dataframes.append(df)

# Concatenar todos os DataFrames em um Ãºnico DataFrame
osklen = pd.concat(dataframes, ignore_index=True)

In [68]:
osklen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Representante         6226 non-null   object
 1   Lancamento Mov        6226 non-null   float64
 2   Data Pagamento        6226 non-null   object
 3   Valor Original Total  6226 non-null   object
 4   Valor Pago            6226 non-null   object
 5   Filial                6226 non-null   object
 6   Nf Saida              6226 non-null   float64
 7   Serie Nf              6226 non-null   float64
 8   Cod Clifor            6226 non-null   float64
 9   Nome Clifor           6226 non-null   object
 10  Razao Social          6226 non-null   object
 11  Linha                 6226 non-null   object
 12  Porcentagem           6226 non-null   float64
 13  Data Lancamento       6226 non-null   object
 14  Emissao               6226 non-null   object
 15  Vencimento            6226 non-null   object
 16  Vencimento Real       6226 non-null   object
 17  Dias Prorrogados      6226 non-null   float64
 18  Valor Calculo         6226 non-null   object
 19  Valor Comissao Linha  6238 non-null   object
 20  nome_arquivo          6607 non-null   object
dtypes: float64(6), object(15)
memory usage: 1.1+ MB

In [69]:
osklen.dropna(inplace=True)

In [70]:
osklen['Valor Original Total'] = osklen['Valor Original Total'].str.replace('.','').str.replace(',', '.').astype(float)
osklen['Valor Pago'] = osklen['Valor Pago'].str.replace('.','').str.replace(',', '.').astype(float)
osklen['Valor Calculo'] = osklen['Valor Calculo'].str.replace('.','').str.replace(',', '.').astype(float)
osklen['Valor Comissao Linha'] = osklen['Valor Comissao Linha'].str.replace('.','').str.replace(',', '.').astype(float)

In [71]:
from datetime import datetime

osklen['Data Pagamento'] = pd.to_datetime(osklen['Data Pagamento'], format='%d-%b-%y')
osklen['Emissao'] = pd.to_datetime(osklen['Emissao'], format='%d-%b-%y')
osklen['Vencimento'] = pd.to_datetime(osklen['Vencimento'], format='%d-%b-%y')
osklen['Vencimento Real'] = pd.to_datetime(osklen['Vencimento Real'], format='%d-%b-%y')

In [72]:
osklen['Lancamento Mov'] = osklen['Lancamento Mov'].astype(int)
osklen['Nf Saida'] = osklen['Nf Saida'].astype(int)

In [73]:
osklen[['Data Pagamento','Valor Original Total','Valor Pago','Valor Calculo','Valor Comissao Linha']].groupby(pd.Grouper(key='Data Pagamento', freq='M')).sum()

,Valor Original Total,Valor Pago,Valor Calculo,Valor Comissao Linha
Data Pagamento,,,,
2023-01-31,2432094.17,653581.91,260852.10,14892.68
2023-02-28,1046335.89,279544.19,118205.04,6796.10
2023-03-31,731020.72,218238.61,110365.19,6407.99
2023-04-30,719327.38,213201.76,140568.36,7672.85
2023-05-31,1196377.48,373621.08,246988.63,13543.67
2023-06-30,1423327.58,416462.77,271402.59,14597.46
2023-07-31,1211286.91,367299.58,218770.03,11888.69
2023-08-31,1608009.04,500502.37,292004.62,15824.93
2023-09-30,2101055.42,621830.63,312879.97,17184.83
2023-10-31,2717560.42,798803.54,399374.31,21984.98
2023-11-30,3096189.33,892351.88,429346.27,23661.99
2023-12-31,3134113.80,890111.00,430704.20,23965.42

In [74]:
osklen[osklen['Emissao'].dt.month == 4]

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
256,SHOW ROOM OSKLEN SC,8988616,2023-04-25,5657.69,5657.69,CENTRO DE DISTRIBUICAO,626032,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-04-14,2023-04-24,2023-04-24,0.0,1379.22,82.75,osklen abr23.csv
257,SHOW ROOM OSKLEN SC,8988616,2023-04-25,5657.69,5657.69,CENTRO DE DISTRIBUICAO,626032,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-04-14,2023-04-24,2023-04-24,0.0,4278.49,256.71,osklen abr23.csv
289,SHOW ROOM OSKLEN SC,8955037,2023-08-02,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-08-01,2023-08-01,0.0,292.50,17.55,osklen ago23.csv
290,SHOW ROOM OSKLEN SC,8955037,2023-08-02,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-08-01,2023-08-01,0.0,940.44,56.43,osklen ago23.csv
291,SHOW ROOM OSKLEN SC,8955058,2023-08-02,4932.08,1233.02,CENTRO DE DISTRIBUICAO,623417,55.0,40776.0,VIVE LA VIE NOMADE ALEGRA,ALEGRA EIRELI EPP,VESTUARIO,0.06,"0,00",2023-04-03,2023-08-01,2023-08-01,0.0,1233.02,73.98,osklen ago23.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6127,SHOW ROOM OSKLEN SC,8998177,2023-09-26,1513.28,306.24,CENTRO DE DISTRIBUICAO,626735,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2023-04-18,2023-09-15,2023-09-15,0.0,306.24,18.37,osklen set23.csv
6128,SHOW ROOM OSKLEN SC,8999340,2023-09-26,5497.05,1112.61,CENTRO DE DISTRIBUICAO,626957,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,CALCADO,0.04,"0,00",2023-04-18,2023-09-15,2023-09-15,0.0,1112.61,44.50,osklen set23.csv
6129,SHOW ROOM OSKLEN SC,9008682,2023-09-11,4049.07,1401.65,CENTRO DE DISTRIBUICAO,628028,55.0,47916.0,PROPE,CWM CALÃADOS EIRELLI ME,VESTUARIO,0.06,"0,00",2023-04-24,2023-05-24,2023-05-24,0.0,1260.98,75.66,osklen set23.csv
6130,SHOW ROOM OSKLEN SC,9008682,2023-09-11,4049.07,1401.65,CENTRO DE DISTRIBUICAO,628028,55.0,47916.0,PROPE,CWM CALÃADOS EIRELLI ME,VESTUARIO,0.06,"0,00",2023-04-24,2023-05-24,2023-05-24,0.0,140.67,8.44,osklen set23.csv
6131,SHOW ROOM OSKLEN SC,9011387,2023-09-05,2716.36,921.30,CENTRO DE DISTRIBUICAO,628399,55.0,61074.0,FASCINACAO,FEFE COMERCIO VAREJISTA DE ARTIGOS DO VESTUARI...,VESTUARIO,0.06,"0,00",2023-04-25,2023-07-24,2023-07-24,0.0,921.30,55.28,osklen set23.csv

In [75]:
osklen[osklen['Nf Saida'] ==623411].sort_values(by='Data Pagamento')

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
4139,SHOW ROOM OSKLEN SC,8955037,2023-05-04,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-05-03,2023-05-03,0.0,292.50,17.55,osklen mai23.csv
4140,SHOW ROOM OSKLEN SC,8955037,2023-05-04,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-05-03,2023-05-03,0.0,940.44,56.43,osklen mai23.csv
3606,SHOW ROOM OSKLEN SC,8955037,2023-06-05,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-06-02,2023-06-02,0.0,292.50,17.55,osklen jun23.csv
3607,SHOW ROOM OSKLEN SC,8955037,2023-06-05,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-06-02,2023-06-02,0.0,940.44,56.43,osklen jun23.csv
3157,SHOW ROOM OSKLEN SC,8955037,2023-07-04,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-07-02,2023-07-03,0.0,292.50,17.55,osklen jul23.csv
3158,SHOW ROOM OSKLEN SC,8955037,2023-07-04,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-07-02,2023-07-03,0.0,940.44,56.43,osklen jul23.csv
289,SHOW ROOM OSKLEN SC,8955037,2023-08-02,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-08-01,2023-08-01,0.0,292.50,17.55,osklen ago23.csv
290,SHOW ROOM OSKLEN SC,8955037,2023-08-02,4931.76,1232.94,CENTRO DE DISTRIBUICAO,623411,55.0,49030.0,TEAHUPOO,LIQUID CONFECCAO E ARTIGOS ESPORTIVOS LTDA ME,VESTUARIO,0.06,"0,00",2023-04-03,2023-08-01,2023-08-01,0.0,940.44,56.43,osklen ago23.csv

In [76]:
osklen.loc[osklen['Nf Saida'] == 623411, 'Valor Comissao Linha'].sum()

295.92

In [77]:
osklen[osklen['Nf Saida'] ==613405.0]

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
43,SHOW ROOM OSKLEN SC,8866117,2023-04-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-04-17,2023-04-17,0.0,136.81,8.21,osklen abr23.csv
44,SHOW ROOM OSKLEN SC,8866117,2023-04-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,COMPLEMENTO,0.06,"0,00",2023-02-16,2023-04-17,2023-04-17,0.0,43.04,2.58,osklen abr23.csv
45,SHOW ROOM OSKLEN SC,8866117,2023-04-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-04-17,2023-04-17,0.0,1351.03,81.06,osklen abr23.csv
46,SHOW ROOM OSKLEN SC,8866117,2023-04-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-04-17,2023-04-17,0.0,85.65,5.14,osklen abr23.csv
3881,SHOW ROOM OSKLEN SC,8866117,2023-05-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-05-17,2023-05-17,0.0,136.81,8.21,osklen mai23.csv
3882,SHOW ROOM OSKLEN SC,8866117,2023-05-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,COMPLEMENTO,0.06,"0,00",2023-02-16,2023-05-17,2023-05-17,0.0,43.04,2.58,osklen mai23.csv
3883,SHOW ROOM OSKLEN SC,8866117,2023-05-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-05-17,2023-05-17,0.0,1351.03,81.06,osklen mai23.csv
3884,SHOW ROOM OSKLEN SC,8866117,2023-05-18,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-05-17,2023-05-17,0.0,85.65,5.14,osklen mai23.csv
4470,SHOW ROOM OSKLEN SC,8866117,2023-03-21,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-03-18,2023-03-20,0.0,136.81,8.21,osklen mar23.csv
4471,SHOW ROOM OSKLEN SC,8866117,2023-03-21,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,COMPLEMENTO,0.06,"0,00",2023-02-16,2023-03-18,2023-03-20,0.0,43.04,2.58,osklen mar23.csv
4472,SHOW ROOM OSKLEN SC,8866117,2023-03-21,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-03-18,2023-03-20,0.0,1351.03,81.06,osklen mar23.csv
4473,SHOW ROOM OSKLEN SC,8866117,2023-03-21,4849.62,1616.54,CENTRO DE DISTRIBUICAO,613405,55.0,60195.0,DIVINE BOUTIQUE,COMERCIAL HESS LTDA,VESTUARIO,0.06,"0,00",2023-02-16,2023-03-18,2023-03-20,0.0,85.65,5.14,osklen mar23.csv

## REAL

In [78]:
historico = osklen.copy()
historico['diferenca_dias'] = (historico['Data Pagamento'] - historico['Emissao']).dt.days
historico['tot_parcelas'] = round(historico['Valor Original Total']/historico['Valor Pago'],0)
historico['parcela'] = historico['diferenca_dias'].apply(lambda x: 'A' if x < 40 else ('B' if x < 70 else ('C' if x < 100 else ('D' if x < 140 else ('E' if x < 160 else None)))))

In [79]:
historico.columns

Index(['Representante', 'Lancamento Mov', 'Data Pagamento',
       'Valor Original Total', 'Valor Pago', 'Filial', 'Nf Saida', 'Serie Nf',
       'Cod Clifor', 'Nome Clifor', 'Razao Social', 'Linha', 'Porcentagem',
       'Data Lancamento', 'Emissao', 'Vencimento', 'Vencimento Real',
       'Dias Prorrogados', 'Valor Calculo', 'Valor Comissao Linha',
       'nome_arquivo', 'diferenca_dias', 'tot_parcelas', 'parcela'],
      dtype='object')

In [80]:
historico = historico.groupby(['Lancamento Mov','Data Pagamento']).agg({'Nome Clifor': 'max',
                                                         'Nf Saida': 'max',
                                                         'Valor Original Total':'max',
                                                         'Valor Comissao Linha':'sum',
                                                        'parcela':'max',
                                                        'Emissao':'max'}).reset_index()

In [81]:
historico[['Data Pagamento','Valor Original Total','Valor Comissao Linha']].groupby(pd.Grouper(key='Data Pagamento', freq='M')).sum()

                Valor Original Total  Valor Comissao Linha
Data Pagamento
2023-01-31                 953517.93              14892.68
2023-02-28                 433629.34               6796.10
2023-03-31                 336355.73               6407.99
2023-04-30                 459598.87               7672.85
2023-05-31                 788307.21              13543.67
2023-06-30                 903394.85              14597.46
2023-07-31                 733624.79              11888.69
2023-08-31                 931457.85              15824.93
2023-09-30                1026279.81              17184.83
2023-10-31                1337178.03              21984.98
2023-11-30                1471468.93              23661.99
2023-12-31                1495830.12              23965.42

In [82]:
osklen[['Data Pagamento','Valor Original Total','Valor Comissao Linha']].groupby(pd.Grouper(key='Data Pagamento', freq='M')).sum()

                Valor Original Total  Valor Comissao Linha
Data Pagamento
2023-01-31                2432094.17              14892.68
2023-02-28                1046335.89               6796.10
2023-03-31                 731020.72               6407.99
2023-04-30                 719327.38               7672.85
2023-05-31                1196377.48              13543.67
2023-06-30                1423327.58              14597.46
2023-07-31                1211286.91              11888.69
2023-08-31                1608009.04              15824.93
2023-09-30                2101055.42              17184.83
2023-10-31                2717560.42              21984.98
2023-11-30                3096189.33              23661.99
2023-12-31                3134113.80              23965.42

In [83]:
osklen[osklen['Nf Saida'] == 664109]

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
1644,SHOW ROOM OSKLEN SC,9496271,2023-12-19,345.22,115.07,CENTRO DE DISTRIBUICAO,664109,55.0,63751.0,BEKKO FAROL MODA MASCULIN,TMS COMERCIO DE CONFECCOES LTDA,CALCADO,0.04,"0,00",2023-11-30,2023-12-30,2024-01-02,0.0,115.07,4.6,osklen dez23.csv

In [84]:
historico[historico['Nf Saida'] == 664109]

,Lancamento Mov,Data Pagamento,Nome Clifor,Nf Saida,Valor Original Total,Valor Comissao Linha,parcela,Emissao
3405,9496271,2023-12-19,BEKKO FAROL MODA MASCULIN,664109,345.22,4.6,A,2023-11-30

In [85]:
real = historico
real.rename(columns={'Data Pagamento':'data_pagamento',
                          'Nome Clifor':'cliente',
                          'Nf Saida':'documento',
                          'Valor Original Total':'valor',
                          'Valor Comissao Linha':'comissao',
                          'Emissao':'data_faturamento'},inplace=True)
real['tipo'] = 'pagamentos'
real['cliente'] = real.cliente.str.lower()

In [86]:
real.columns

Index(['Lancamento Mov', 'data_pagamento', 'cliente', 'documento', 'valor',
       'comissao', 'parcela', 'data_faturamento', 'tipo'],
      dtype='object')

In [87]:
real = real[['cliente', 'tipo', 'documento','valor','comissao','parcela', 'data_faturamento','data_pagamento']]

In [88]:
real

,cliente,tipo,documento,valor,comissao,parcela,data_faturamento,data_pagamento
0,tamarita fashion,pagamentos,562739,1772.24,22.05,NaN,2022-04-08,2023-01-05
1,tamarita fashion,pagamentos,565617,1355.46,10.00,NaN,2022-04-21,2023-01-05
2,tamarita fashion,pagamentos,565617,1355.46,7.08,NaN,2022-04-21,2023-01-31
3,tamarita fashion,pagamentos,565637,1318.61,26.90,NaN,2022-04-21,2023-01-31
4,tamarita fashion,pagamentos,571292,1024.99,1.74,NaN,2022-05-27,2023-01-31
...,...,...,...,...,...,...,...,...
3405,bekko farol moda masculin,pagamentos,664109,345.22,4.60,A,2023-11-30,2023-12-19
3406,bekko farol moda masculin,pagamentos,664901,517.83,6.90,A,2023-12-06,2023-12-26
3407,maina bis,pagamentos,665009,560.00,11.20,A,2023-12-07,2023-12-15
3408,fascinacao,pagamentos,665106,1314.08,26.28,A,2023-12-07,2023-12-29
3409,lena modas,pagamentos,665149,155.95,9.36,A,2023-12-07,2023-12-19

## PREVISAO

In [89]:
osklen

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
0,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,COMPLEMENTO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,83.09,4.99,osklen abr23.csv
1,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,49.75,2.99,osklen abr23.csv
2,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,228.41,13.70,osklen abr23.csv
3,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,149.50,8.97,osklen abr23.csv
4,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,115.67,6.94,osklen abr23.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6601,SHOW ROOM OSKLEN SC,9321922,2023-09-26,1581.37,527.12,CENTRO DE DISTRIBUICAO,647258,55.0,62959.0,TAI TAI STORE,IZUMI & MATOS LTDA,VESTUARIO,0.06,"0,00",2023-09-12,2023-10-12,2023-10-13,0.0,527.12,31.63,osklen set23.csv
6602,SHOW ROOM OSKLEN SC,9333055,2023-09-29,1561.16,1561.16,CENTRO DE DISTRIBUICAO,648055,55.0,64145.0,LENA MODAS,LENA MODAS COM DE CONF LTDA,VESTUARIO,0.06,"0,00",2023-09-18,2023-09-28,2023-09-28,0.0,1561.16,93.67,osklen set23.csv
6603,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,COMPLEMENTO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,560.07,33.60,osklen set23.csv
6604,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,832.54,49.95,osklen set23.csv
6605,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,599.37,35.96,osklen set23.csv

In [90]:
previsao = osklen.copy()

In [91]:
previsao

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
0,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,COMPLEMENTO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,83.09,4.99,osklen abr23.csv
1,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,49.75,2.99,osklen abr23.csv
2,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,228.41,13.70,osklen abr23.csv
3,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,149.50,8.97,osklen abr23.csv
4,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,115.67,6.94,osklen abr23.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6601,SHOW ROOM OSKLEN SC,9321922,2023-09-26,1581.37,527.12,CENTRO DE DISTRIBUICAO,647258,55.0,62959.0,TAI TAI STORE,IZUMI & MATOS LTDA,VESTUARIO,0.06,"0,00",2023-09-12,2023-10-12,2023-10-13,0.0,527.12,31.63,osklen set23.csv
6602,SHOW ROOM OSKLEN SC,9333055,2023-09-29,1561.16,1561.16,CENTRO DE DISTRIBUICAO,648055,55.0,64145.0,LENA MODAS,LENA MODAS COM DE CONF LTDA,VESTUARIO,0.06,"0,00",2023-09-18,2023-09-28,2023-09-28,0.0,1561.16,93.67,osklen set23.csv
6603,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,COMPLEMENTO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,560.07,33.60,osklen set23.csv
6604,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,832.54,49.95,osklen set23.csv
6605,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,599.37,35.96,osklen set23.csv

In [92]:
previsao['diferenca_dias'] = (previsao['Vencimento'] - previsao['Emissao']).dt.days
previsao['tot_parcelas'] = round(previsao['Valor Original Total']/previsao['Valor Pago'],0)
previsao['parcela'] = previsao['diferenca_dias'].apply(lambda x: 'A' if x < 40 else ('B' if x < 70 else ('C' if x < 100 else ('D' if x < 140 else ('E' if x < 160 else None)))))

In [93]:
previsao.groupby('tot_parcelas').count()

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo,diferenca_dias,parcela
tot_parcelas,,,,,,,,,,,,,,,,,,,,,,,
1.0,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123
3.0,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273,3273
4.0,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117,2117
5.0,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,651,644
6.0,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
7.0,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
8.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
11.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
12.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
15.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
19.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
28.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
33.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
35.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
37.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
43.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
47.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
50.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
55.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
93.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
109.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
209.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
335.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
839.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
271636.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [94]:
previsao

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo,diferenca_dias,tot_parcelas,parcela
0,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,COMPLEMENTO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,83.09,4.99,osklen abr23.csv,150,5.0,E
1,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,49.75,2.99,osklen abr23.csv,150,5.0,E
2,SHOW ROOM OSKLEN SC,8617905,2023-04-10,1806.17,361.25,CENTRO DE DISTRIBUICAO,599919,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-07,2023-04-06,2023-04-06,0.0,228.41,13.70,osklen abr23.csv,150,5.0,E
3,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,149.50,8.97,osklen abr23.csv,150,5.0,E
4,SHOW ROOM OSKLEN SC,8626456,2023-04-11,1531.66,306.34,CENTRO DE DISTRIBUICAO,601158,55.0,47141.0,MODA E DESIGN,GABRIEL TONNIGES,VESTUARIO,0.06,"0,00",2022-11-11,2023-04-10,2023-04-10,0.0,115.67,6.94,osklen abr23.csv,150,5.0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6601,SHOW ROOM OSKLEN SC,9321922,2023-09-26,1581.37,527.12,CENTRO DE DISTRIBUICAO,647258,55.0,62959.0,TAI TAI STORE,IZUMI & MATOS LTDA,VESTUARIO,0.06,"0,00",2023-09-12,2023-10-12,2023-10-13,0.0,527.12,31.63,osklen set23.csv,30,3.0,A
6602,SHOW ROOM OSKLEN SC,9333055,2023-09-29,1561.16,1561.16,CENTRO DE DISTRIBUICAO,648055,55.0,64145.0,LENA MODAS,LENA MODAS COM DE CONF LTDA,VESTUARIO,0.06,"0,00",2023-09-18,2023-09-28,2023-09-28,0.0,1561.16,93.67,osklen set23.csv,10,1.0,A
6603,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,COMPLEMENTO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,560.07,33.60,osklen set23.csv,10,1.0,A
6604,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,832.54,49.95,osklen set23.csv,10,1.0,A
6605,SHOW ROOM OSKLEN SC,9333881,2023-09-27,1991.99,1991.99,CENTRO DE DISTRIBUICAO,648103,55.0,49994.0,ATTUALE STYLE,UMABEL MODAS LTDA EPP,VESTUARIO,0.06,"0,00",2023-09-19,2023-09-29,2023-09-29,0.0,599.37,35.96,osklen set23.csv,10,1.0,A

In [95]:
previsao_ = previsao.query("parcela == 'A' ")

previsao_ = previsao_.groupby(['Lancamento Mov','Vencimento']).agg({'Nome Clifor': 'max',
                                                         'Nf Saida': 'max',
                                                         'Valor Original Total':'max',
                                                         'Valor Comissao Linha':'sum',
                                                        'parcela':'max',
                                                        'Emissao':'max',
                                                        'tot_parcelas':'max'}).reset_index()

previsao_.rename(columns={'Vencimento':'data_pagamento',
                          'Nome Clifor':'cliente',
                          'Nf Saida':'documento',
                          'Valor Original Total':'valor',
                          'Valor Comissao Linha':'comissao',
                          'Emissao':'data_faturamento'},inplace=True)

previsao_['cliente'] = previsao_.cliente.str.lower()

previsao_['tipo'] = 'previsao'

In [96]:
previsao_.tot_parcelas.unique()

array([ 4.,  3.,  5.,  1., 43.,  7., 15.,  8., 12.])

In [97]:
from datetime import datetime, timedelta
# Criar novas linhas
novas_linhas = []
for index, row in previsao_.iterrows():
    if row['tot_parcelas'] > 1 and row['tot_parcelas'] <= 5:
        for i in range(1, int(row['tot_parcelas'])):
            nova_parcela = row.copy()
            nova_parcela['tot_parcelas'] = nova_parcela['tot_parcelas'] - i
            nova_parcela['parcela'] = chr(ord(nova_parcela['parcela']) + i)
            nova_parcela['data_pagamento'] += timedelta(days=30*i)
            novas_linhas.append(nova_parcela)

# Adicionar novas linhas ao DataFrame
previsao_final = pd.concat([previsao_, pd.DataFrame(novas_linhas)], ignore_index=True)

# Reordenar o DataFrame
previsao_final = previsao_final.sort_values(by=['Lancamento Mov', 'parcela']).reset_index(drop=True)

In [98]:
previsao_final

,Lancamento Mov,data_pagamento,cliente,documento,valor,comissao,parcela,data_faturamento,tot_parcelas,tipo
0,8530946,2022-10-27,teahupoo ii,592054,1935.64,30.35,A,2022-09-27,4.0,previsao
1,8530946,2022-11-26,teahupoo ii,592054,1935.64,30.35,B,2022-09-27,3.0,previsao
2,8530946,2022-12-26,teahupoo ii,592054,1935.64,30.35,C,2022-09-27,2.0,previsao
3,8530946,2023-01-25,teahupoo ii,592054,1935.64,30.35,D,2022-09-27,1.0,previsao
4,8556392,2022-11-06,grando imports,594185,3622.70,49.37,A,2022-10-07,3.0,previsao
...,...,...,...,...,...,...,...,...,...,...
3389,9516874,2024-03-06,maina bis,665009,560.00,11.20,C,2023-12-07,1.0,previsao
3390,9517567,2024-01-06,fascinacao,665106,1314.08,26.28,A,2023-12-07,3.0,previsao
3391,9517567,2024-02-05,fascinacao,665106,1314.08,26.28,B,2023-12-07,2.0,previsao
3392,9517567,2024-03-06,fascinacao,665106,1314.08,26.28,C,2023-12-07,1.0,previsao
3393,9517683,2023-12-17,lena modas,665149,155.95,9.36,A,2023-12-07,1.0,previsao

In [99]:
## COMPARAÃÃO

previsao_final['mes_ano'] = previsao_final['data_pagamento'].dt.strftime('%m-%Y')
real['mes_ano'] = real['data_pagamento'].dt.strftime('%m-%Y')
previsao_agrupado = previsao_final[['mes_ano','comissao']].groupby('mes_ano').sum()
real_agrupado = real[['mes_ano','comissao']].groupby('mes_ano').sum()
pd.merge(previsao_agrupado,real_agrupado,on='mes_ano')

         comissao_x  comissao_y
mes_ano
01-2023     1914.54    14892.68
02-2023      522.81     6796.10
03-2023     3963.45     6407.99
04-2023     8236.12     7672.85
05-2023    13341.69    13543.67
06-2023    16602.52    14597.46
07-2023    13043.11    11888.69
08-2023    14506.40    15824.93
09-2023    15257.60    17184.83
10-2023    21655.81    21984.98
11-2023    21941.24    23661.99
12-2023    22080.32    23965.42

In [100]:
osklen[osklen['Nf Saida'] == 617210 ]

,Representante,Lancamento Mov,Data Pagamento,Valor Original Total,Valor Pago,Filial,Nf Saida,Serie Nf,Cod Clifor,Nome Clifor,Razao Social,Linha,Porcentagem,Data Lancamento,Emissao,Vencimento,Vencimento Real,Dias Prorrogados,Valor Calculo,Valor Comissao Linha,nome_arquivo
143,SHOW ROOM OSKLEN SC,8903687,2023-04-11,2232.69,52.09,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,COMPLEMENTO,0.06,"0,00",2023-03-08,2023-04-07,2023-04-07,0.0,15.03,0.90,osklen abr23.csv
144,SHOW ROOM OSKLEN SC,8903687,2023-04-11,2232.69,52.09,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,VESTUARIO,0.06,"0,00",2023-03-08,2023-04-07,2023-04-07,0.0,37.06,2.22,osklen abr23.csv
3112,SHOW ROOM OSKLEN SC,8903687,2023-07-07,2232.69,558.18,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,COMPLEMENTO,0.06,"0,00",2023-03-08,2023-07-06,2023-07-06,0.0,161.09,9.67,osklen jul23.csv
3113,SHOW ROOM OSKLEN SC,8903687,2023-07-07,2232.69,558.18,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,VESTUARIO,0.06,"0,00",2023-03-08,2023-07-06,2023-07-06,0.0,397.09,23.83,osklen jul23.csv
3499,SHOW ROOM OSKLEN SC,8903687,2023-06-07,2232.69,558.17,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,COMPLEMENTO,0.06,"0,00",2023-03-08,2023-06-06,2023-06-06,0.0,161.08,9.67,osklen jun23.csv
3500,SHOW ROOM OSKLEN SC,8903687,2023-06-07,2232.69,558.17,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,VESTUARIO,0.06,"0,00",2023-03-08,2023-06-06,2023-06-06,0.0,397.09,23.83,osklen jun23.csv
4018,SHOW ROOM OSKLEN SC,8903687,2023-05-09,2232.69,558.17,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,COMPLEMENTO,0.06,"0,00",2023-03-08,2023-05-07,2023-05-08,0.0,161.08,9.67,osklen mai23.csv
4019,SHOW ROOM OSKLEN SC,8903687,2023-05-09,2232.69,558.17,CENTRO DE DISTRIBUICAO,617210,55.0,60479.0,TROPICO,LW COMERCIO DE ARTIGOS ESPORTIVOS EIRELI,VESTUARIO,0.06,"0,00",2023-03-08,2023-05-07,2023-05-08,0.0,397.09,23.83,osklen mai23.csv

In [101]:
previsao_final[previsao_final['documento'] == 617210 ]

,Lancamento Mov,data_pagamento,cliente,documento,valor,comissao,parcela,data_faturamento,tot_parcelas,tipo,mes_ano
324,8903687,2023-04-07,tropico,617210,2232.69,3.12,A,2023-03-08,43.0,previsao,04-2023

In [102]:
previsao_final[previsao_final['documento'] == 617210 ].count()

Lancamento Mov      1
data_pagamento      1
cliente             1
documento           1
valor               1
comissao            1
parcela             1
data_faturamento    1
tot_parcelas        1
tipo                1
mes_ano             1
dtype: int64

# tabela final

In [103]:
df = real[['cliente', 'tipo', 'documento','valor','comissao','parcela', 'data_faturamento','data_pagamento']]
prev = previsao_final[['cliente', 'tipo', 'documento','valor','comissao','parcela', 'data_faturamento','data_pagamento']]
df_final = pd.concat([df,prev])
df_final['marca'] = 'osklen'
df_final.cliente = df_final.cliente.str.lower()
df_final.tipo = df_final.tipo.str.lower()
df_final.data_pagamento = df_final.data_pagamento.fillna(datetime(1900, 1, 1))

In [104]:
df_final.to_csv('osklen_consolidado.csv',index=False)

In [105]:
calvin = pd.read_csv('calvin_consolidado.csv')
osklen = pd.read_csv('osklen_consolidado.csv')

In [113]:
calvin

,cliente,tipo,documento,valor,comissao,parcela,data_faturamento,data_pagamento,marca
0,aac comercio de confeccoe,faturamento,940997,6230.04,305.27,NaN,2023-04-04,1900-01-01,calvin klein
1,aac comercio de confeccoe,pagamentos,928624,1098.08,53.81,B,2023-02-10,2023-04-06,calvin klein
2,aac comercio de confeccoe,pagamentos,928624,688.99,33.76,C,2023-02-10,2023-04-26,calvin klein
3,aac comercio de confeccoe,pagamentos,936605,1284.36,62.93,A,2023-03-15,2023-04-12,calvin klein
4,adriana mariani,faturamento,940891,7244.00,354.96,NaN,2023-04-04,1900-01-01,calvin klein
...,...,...,...,...,...,...,...,...,...
39748,zanoello & zanoello,previsao,980097,1167.09,57.19,A,2023-09-28,2023-10-26,calvin klein
39749,zanoello & zanoello,previsao,980097,1167.09,57.19,B,2023-09-28,2023-11-16,calvin klein
39750,zanoello & zanoello,previsao,980097,1167.09,57.19,C,2023-09-28,2023-12-07,calvin klein
39751,zanoello & zanoello,previsao,980097,1167.09,57.19,D,2023-09-28,2023-12-28,calvin klein
39752,zanoello & zanoello,previsao,980097,1167.09,57.19,E,2023-09-28,2024-01-18,calvin klein

In [108]:
jump = pd.concat([calvin,osklen])

In [112]:
jump.to_csv('jump_consolidado.csv',index=False)